<link rel="stylesheet" href="/themes/bslf/theme.css">
<!--[if IE 11]>
<link rel="stylesheet" href="/themes/bslf/theme_ie11.css">
<![endif]-->
<script src="/themes/bslf/theme_vendor.js"></script>
<script src="/themes/bslf/theme.js"></script>